두 변수의 값을 교환하는 프로그램 (반드시 함수 사용)

In [3]:
#리턴값있는경우
def first(x,y):
    print(x,y)
    return x,y
x=11
y=12
first(x,y)
print(x,y)

11 12
11 12

In [4]:
#리턴값없는경우
def first(x,y):
    print(x,y)
x=11
y=12
first(x,y)
print(x,y)

11 12
11 12

In [6]:
def fuck(b):
    global a
    a=b+10
    return a
a=5
c=fuck(3)
print(c)
print(a)

13
13

In [10]:
def pri_n_t(n, *values):
    for i in range(n):
        for value in values:
            print(value)
        print()
pri_n_t(3,"졸려","집갈래","나갈래~~")

졸려
집갈래
나갈래~~

졸려
집갈래
나갈래~~

졸려
집갈래
나갈래~~

In [11]:
def fin(start=0, end=1000, step=1):
    output=0
    for i in range(start, end+1,step):
        output+=i
    return output
print("A.",fin(0,1000,10))
print("B.",fin(end=1000))
print("C.",fin(end=1000, step=2))

A. 50500
B. 500500
C. 250500

딕셔너리 생성 (단, 딕셔너리 날짜 키값 입력받음)

dict={"10/26" : [100,130,100,100],"10/27" : [10,12,10,11]}

In [ ]:
dict={}
input
def AC(dict, key):
    print(dict[key])
AC (dict,"10/26")

아래의 거래금액의 데이터를 이용하여 수수료 0.014%를 계산하여 한라인에 하나씩 출력

In [14]:
data=[[2000,3050,2050,1980],[7500,2050,2050,1980],[15450,15050,15550,14900]]
for line in data:
    for column in line:
        print(column*1.00014)
    print("---------------")

2000.28
3050.427
2050.2870000000003
1980.2772
---------------
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
---------------
15452.163
15052.107
15552.177
14902.086000000001
---------------

In [15]:
#1차원으로
result=[]
for line in data:
    for column in line:
        result.append(column*1.00014)
print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [16]:
#2차원으로
result=[]
for sline in data:
    sline=[]
    for column in line:
        result.append(column*1.00014)
        result.append(sline)
print(result)

[15452.163, [], 15052.107, [], 15552.177, [], 14902.086000000001, [], 15452.163, [], 15052.107, [], 15552.177, [], 14902.086000000001, [], 15452.163, [], 15052.107, [], 15552.177, [], 14902.086000000001, []]